{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Eigenschaften Bearbeitung</h2>
        {{ include ('admin/specification/_form.html.twig', {button: 'Bearbeiten'}) }}
    </div>

{% endblock %}

