{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Neue Eigenschaft Erstellen</h2>
        {{ include ('admin/specification/_form.html.twig', {button: 'Hinzufügen'}) }}
    </div>
{% endblock %}


