{% extends 'base.html.twig' %}

{% block title 'Alle Immobilien'%}

{% block body %}
    <div class="container mt-4">
        <h1>Alle Immobilien zeigen</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam consequuntur doloremque eaque eius esse, exercitationem molestiae nemo nisi placeat quam quibusdam vitae. Accusamus beatae eveniet hic quibusdam, quos vel?</p>
    </div>

    <div class="container">
    </div>
{% endblock %}